.docsList{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    

}

.projectsList{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    color: #000000;

}

.server-preview{
    width: 700px !important;
    margin: 0 auto;
}

.modal-content{
    background-color: whitesmoke;
}