.userForm{
    background-color: #434957;
    padding: 2% 1%;
    border-radius: 25px;
    font-size: 1.5em;
    
}

.userBlock{
    background-color: #434957;
    padding: 2%;
    border-radius: 25px;
}